@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1f2128;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: #ffce22;
  --color-light-orange: #ffd84d;
  --font-montserrat: var(--font-montserrat);
  --shadow-card: 0px 8px 15px 0px #1414141f, 0px 0px 4px 0px #1414141a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
